<section id="about">

	<p class="description">
		bästistockholm.se är en sida för dig som vill ha koll på när det är derby på gång i Stockholm.
	</p>
	
	<p class="links">
		Det här projektet har varit en chans för mig att pröva på nya teknologier som jag inte arbetar med vanligtvis. Det har varit grymt kul och
		lärorikt. För den som är intresserad så finns koden att skåda <a href="https://github.com/swerage/nodentia" target="_blank">här</a>.
	</p>
	
	<p>Det är värt att notera att om du använder en äldre browser så är det mycket möjligt att sidan ser konstig ut eller till och med inte fungerar. Den har utvecklats helt utan sådan kompatibilitet i åtanke.</p>
	
	<p>Alla klubbmärken tillhör respektive klubb. bästistockholm.se har ingen koppling till AIK, Djurgården, Hammarby eller någon supporterorganisation. 
	</p>

	<p class="contact">
		För åsikter, idér eller liknande pinga mig på <a href="https://twitter.com/#!/chriscarragher" target="_blank">@chriscarragher</a>
	</p>
</div>