<section id="about">
	<h3>About</h3>

	<p class="description">
		bästistockholm.se är en sida för dig som vill ha koll på när det är derby på gång i Stockholm. Med derby menar jag match mellan
		AIK, Djurgården och Hammarby. För tillfället ligger bara Allsvenskan i fotboll uppe men ambitionen är att fler sporter och divisioner 
		ska tillkomma.
	</p>
	
	<p class="links">
		Det här projektet har varit en chans för mig att pröva på nya teknologier som jag inte arbetar med vanligtvis och för den som är 
		intresserad så finns koden att skåda <a href="https://github.com/swerage/nodentia" target="_blank">här</a>. 
	</p>
	
	<p class="contact">
		Kontakta mig kan man göra via Twitter <a href="https://twitter.com/#!/chriscarragher" target="_blank">@chriscarragher</a>
	</p>
</div>