<!DOCTYPE html>
<html>
<head>
  	<title>Bäst I Stockholm - vilka är bäst i stan?</title>
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  	<link href="http://fonts.googleapis.com/css?family=Mate+SC|Yellowtail" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>
	
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="/javascripts/lib/jquery-ui-1.8.18.custom/css/ui-lightness/jquery-ui-1.8.18.custom.css" />
	
	<script type="text/javascript" src="/javascripts/lib/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/javascripts/lib/jquery-ui-1.8.18.custom/js/jquery-ui-1.8.18.custom.min.js"></script>
	
	<script typr="text/javascript" src="/javascripts/plugins.js"></script>
	<script type="text/javascript" src="/javascripts/nodentia.admin.js"></script>
	<script type="text/javascript" src="/javascripts/nodentia.admin.eventHandlers.js"></script>
	
	<script>
		(function(){
			"use strict";
			
			$(function() {
				nodentia.admin.init();
			});
		}());
	</script>
</head>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31476214-1']);
  _gaq.push(['_setDomainName', 'bästistockholm.se']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<body>
	<section id="topBar">
		<div class="tweet-button"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://bastistockholm.se" data-lang="sv">Tweeta</a></div>
		<div class="fb-like" data-href="http://www.xn--bstistockholm-bfb.se/" data-send="false" data-width="300" data-height="25" data-colorscheme="dark" data-show-faces="false"></div>
	</section>
	<header>
		<a href="/" id="title">· bäst · i · stockholm ·</a> 
 		<p id="subtitle">vilka är bäst i stan?</p>
	</header>
	
	<section id="main">
		{{html body}}		
	</section>
	
	<footer>
		<a href="/about">About</a>
	</footer>
	<div id="fb-root"></div>
</body>
</html>
