<section id="played">
	<h3>${sport} - ${league}</h3>
	<div class="logo ${played.styleClass}" title="${played.title}"></div>
	
	<div class="result">
		<span class="${played.home[0].abbr.toLowerCase()}-icon">&nbsp;</span> ${played.homeScore}-${played.awayScore} <span class="${played.away[0].abbr.toLowerCase()}-icon">&nbsp;</span>
	</div>
	<div class="details">
	</div>
</section>

<section id="next">
	
</section>

<section id="comments">
	<div class="fb-comments" data-href="http://bastistockholm.se" data-num-posts="10" data-width="470"></div>
</section>