@import "reset.css";
html,
body {
  height: 100%;
  width: 100%;
}
h3 {
  font-family: 'Mate SC', serif !important;
  font-size: 20px !important;
  margin-left: 15px !important;
  margin-bottom: 10px !important;
  text-align: left;
}
.aik {
  background-image: url("../images/aik.png");
}
.dif {
  background-image: url("../images/dif.png");
}
.hif {
  background-image: url("../images/hif.png");
}
.adh {
  background-image: url("../images/adh.png");
}
.aikdif {
  background-image: url("../images/aikdif.png");
}
.aikhif {
  background-image: url("../images/aikhif.png");
}
.difaik {
  background-image: url("../images/difaik.png");
}
.difhif {
  background-image: url("../images/difhif.png");
}
.aik-icon {
  background-image: url("../images/icon/aik.png");
  width: 48px;
  height: 48px;
  display: inline-block;
}
.dif-icon {
  background-image: url("../images/icon/dif.png");
  width: 48px;
  height: 48px;
  display: inline-block;
}
.hif-icon {
  background-image: url("../images/icon/hif.png");
  width: 48px;
  height: 48px;
  display: inline-block;
}
#topBar {
  height: 30px;
  width: 100%;
  background-color: #000;
  text-align: center;
  padding-top: 5px;
}
#topBar div.tweet-button {
  display: inline-block;
  position: relative;
  top: 2px;
  left: 15px;
  width: 110px;
  vertical-align: top;
}
#topBar div.fb-like {
  width: 280px;
  overflow: hidden;
}
header {
  margin-top: 20px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  min-width: 470px;
  width: 470px;
}
header #title {
  font-family: 'Mate SC', Arial, serif;
  color: #000;
  text-decoration: none;
  font-size: 46px;
  margin-left: 20px;
  width: 430px;
}
header #subtitle {
  font-family: 'Yellowtail', cursive;
  font-size: 22px;
  margin-left: 280px;
  margin-top: 5px;
}
header nav {
  width: 470px;
  border: 1px solid Black;
  margin-top: 10px;
}
#main {
  min-height: 100px;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 470px;
}
#main section {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}
#main section div.logo {
  background-position: center center;
  border: 1px solid Black;
  border-radius: 20px 20px 20px 20px;
  height: 110px;
  width: 470px;
  -moz-box-shadow: 3px 3px 3px #000;
  -webkit-box-shadow: 3px 3px 3px #000;
  box-shadow: 3px 3px 3px #000;
  margin-bottom: 20px;
}
#main section div.result {
  font-family: 'Patua One', cursive;
  text-align: center;
  font-size: 32px;
  line-height: 50px;
}
#main section div.details {
  text-align: center;
  color: #666;
  margin-top: 5px;
  font-family: sans-serif;
  font-variant: small-caps;
}
#main section div.overlay {
  height: 110px;
  width: 470px;
  background-image: url("../images/overlay.png");
  font-family: 'Black Ops One', cursive;
  text-shadow: 3px 3px 3px #000;
  color: #fff;
  font-size: 36px;
  text-align: center;
  padding-top: 40px;
  border-radius: 20px 20px 20px 20px;
  position: absolute;
  top: 30px;
}
#main section div.highlight {
  color: #fff;
  font-family: 'Black Ops One', cursive;
  font-size: 56px;
  position: absolute;
  text-shadow: 3px 3px 3px #000;
  top: 60px;
  text-align: center;
  width: 470px;
}
#main #about p {
  margin-bottom: 20px;
}
#main #about p.description {
  margin-top: 20px;
  font-style: italic;
}
#main #admin {
  margin-top: 20px;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 470px;
}
#main #admin section {
  margin-left: 20px;
}
#main #admin #categories {
  position: relative;
  left: 15px;
}
#main #admin #teams {
  position: relative;
  left: 22px;
}
#main #admin #games {
  position: relative;
  left: 39px;
}
#main #admin #season-edit-area,
#main #admin #team-edit-area,
#main #admin #game-edit-area {
  display: none;
}
#main #admin #addTeam {
  margin-top: 10px;
}
#main #admin .removeTeam {
  cursor: pointer;
}
#main #admin #edit-area {
  border: 1px solid Black;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
  display: none;
  overflow: hidden;
  _overflow: visible;
/* for IE */
  _zoom: 1;
/* for IE */
}
#main #admin #edit-area div {
  margin-top: 5px;
}
#main #admin #edit-area input.score {
  width: 20px;
}
#main #admin #edit-area input#play-time {
  width: 40px;
}
#main #admin #newGame {
  margin-left: 87px;
}
#main #admin .notification {
  display: none;
}
.right {
  float: right;
}
footer {
  border-top: 2px solid Black !important;
  font-size: 18px !important;
  font-variant: small-caps !important;
  margin-bottom: 50px !important;
  padding-top: 10px !important;
  text-align: center;
  width: 475px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 470px;
}
footer a {
  color: #777;
  text-decoration: none;
  margin-left: 40px;
}
footer a:first-child {
  margin-left: 0;
}
footer #contact {
  font-variant: normal;
  margin-top: 20px;
}
footer #contact a {
  color: #000;
  font-family: Georgia;
  font-size: 16px;
  margin-top: 10px;
}
